---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import { getContentSlug } from "@utils/getContentSlug";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"posts">[];
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;

export const prerender = true;
---

<Layout
  title={`Posts | ${SITE.title}`}
  description="Blog posts on software development, DevOps, and technology by Hendrik Prinsloo."
>
  <Header activeNav="posts" />
  <Main>
    <ul>
      {
        paginatedPosts.map(post => (
          <Card
            href={`/posts/${getContentSlug(post)}/`}
            frontmatter={post.data}
          />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/posts/${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
